{% extends "shoplistapp/base.html" %}

{% block title %}  {% endblock %}

{% block body %}
    <div class="row">
        <form action="./" method="post">

            {% csrf_token %}


            <div class="form-group">
                    {{ shoplist_form.name | add_class:"form-control" }}
            </div>

            {{ formset.management_form }}



                {% for form in formset %}

                        <div class="input-group">
                            <span class="input-group-addon">
                                {{ form.itemChecked}}
                            </span>
                            {{ form.itemName | add_class:"form-control" }}
                        </div>
                        <br/>
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                {% endfor %}

                <button class="btn btn-primary">{% trans 'Save' %}</button>


                <script>
                    $( document ).ready(function() {
                        console.log( "ready!" );
                    });
                </script>

        </form>
    </div>
{% endblock %}