{% extends "shoplistapp/base.html" %}

{% block title %}  {% endblock %}

{% block body %}

<form action="./" method="post">

    {% csrf_token %}
    <h1>{{shoplist_form.name}} </h1>

    {{ formset.management_form }}


    {% for form in formset %}
    <ul>
        <li>{{ form.itemChecked }} {{ form.itemName }}</li>
    </ul>
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

    {% endfor %}



    <input type="submit" value="{% trans 'Save' %}" />

</form>
{% endblock %}